# Create .dockerignore file (you already have one, but let's update it)
@"
**/.vs
**/.vscode
**/bin
**/obj
**/.git
**/.gitignore
**/*.user
**/*.suo
**/node_modules
**/npm-debug.log
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/charts
**/docker-compose*
**/Dockerfile*
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
**/.dockerignore
"@ | Out-File -FilePath ".dockerignore" -Encoding utf8